<div class="container">
 <h5>登録情報編集</h5>
 <%= form_with model:@blog, local: true do |f| %>
 <div class="row">
  <div class="col-md-2">
   <p>氏名</p>
   <p>カナ</p>
   <p>郵便番号</p>
   <p>住所</p>
   <p>電話番号</p>
   <p>メールアドレス</p>
  </div>
  <div class="col-md-2">
   <p><%= f.text_field :last_name %></p>
   <p><%= f.text_field :last_name_kana %></p>
   <p><%= f.text_field :postal_code %></p>
   <p><%= f.text_field :address %></p>
   <p><%= f.telephone_field :telephone_number %></p>
   <p><%= f.email_field :email %></p>
  </div>
  <div class="col-md-8">
   <p><%= f.text_field :first_name %></p>
   <p><%= f.text_field :first_name_kana %></p>
  </div>
 </div>
 <div class="row">
   <%= f.submit '編集内容を保存', class: "btn btn-warning" %> <%= link_to "退会する", unsubscribe_customers_path, class: "btn btn-danger" %>
 </div>
 <% end %>
</div>