<div class="container">
 <h3>マイページ</h3>
 <div class="row">
   <p><h4>登録情報</h4>　　  <%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-warning" %></p>
 </div>
 <div class="row">
   <div class="col-md-2">
     <p>氏名</p>
     <p>カナ</p>
     <p>郵便番号</p>
     <p>住所</p>
     <p>電話番号</p>
     <p>メールアドレス</p>
   </div>
   <div class="col-md-8">
     <p><%= current_customer.last_name %>  <%= current_customer.first_name %></p>
     <p><%= current_customer.last_name_kana %>  <%= current_customer.first_name_kana %></p>
     <p><%= current_customer.postal_code %></p>
     <p><%= current_customer.address %></p>
     <p><%= current_customer.telephone_number %></p>
     <p><%= current_customer.email %></p>
   </div>
 </div>
 <div class="row">
   <p><%= link_to "注文履歴一覧を見る", orders_path, class: "btn btn-warning"  %></p>
   <p><%= link_to "配送先一覧を見る", addresses_path, class: "btn btn-info"  %></p>
 </div>
</div>
