商品編集

<%= form_with model:@item, url:"/admin/items/#{@item.id}", local:true do |f| %>

 <p>商品画像</p>


 <p>商品名</p>
 <%= f.text_field :name %>



 <p>商品説明</p>
 <%= f.text_field :introduction %>

 <p>税抜価格</p>
 <%= f.text_field :price %>


 <%= f.submit '変更を保存' %>

<% end %>
