会員一覧

<table class="customers">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customers| %>
     <tr>
       <td><%= customers.id%></td>
       <td>
          <%= link_to admin_customer_path(customers.id) do %>
           <%= customers.last_name %><%= customers.first_name %>
          <% end %>
       </td>
       <td><%= customers.email %></td>
       <td></td>
     </tr>


    <% end %>
  </tbody>
</table>
