配送先編集


<%= form_with model: @address, url: address_path(@address), local:true do |f| %>
  <p>郵便番号
   <%= f.text_field :postal_code %></p>
  <p>住所
   <%= f.text_field :address %></p>
  <p>宛名
   <%= f.text_field :name %></p>
  <p><%= f.submit '変更内容を登録' %></p>
<% end %>