カート商品一覧

<p><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete %></p>


<table class="table table-honer">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @total = 0 %>
     <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price%></td>
          <td>
            <%= cart_item.amount %>
            <%= form_with model:cart_item, local:true do |f| %>
               <%#= f.hidden_field :item_id, value: @cart_item %>
               <%= f.select :amount, *[1..5] %>
               <%= f.submit "変更" %>
            <% end %>
              </td>
          <td><%= cart_item.subtotal %></td>
          <td><%= link_to "削除", cart_item_path(cart_item), method: :delete %></td>
          <% @total += cart_item.subtotal %>
        </tr>
     <% end %>
    </tbody>

  </table>

  <p>合計金額</p>
     <%= @total %>