注文履歴詳細画面

<h4>注文情報</h4>
<p>注文日 <%= @order.created_at %></p>
<p>配送先 <%= @order.address %></p>
<p>支払方法 <%= @order.payment_method_i18n %></p>

<h4>注文内容</h4>
<table class="table table-honer">
    <thead>
        <tr>
          <th>商品</th>
          <th>単価</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.with_tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<h4>請求情報</h4>
<%= @order.total_payment %>