<h3>商品詳細</h3>

<p><%= attachment_image_tag @item, :image, :fill, 150, 150, format: 'jpeg' %></p>


<h3><%= @item.name %></h3>


<p><%= @item.introduction %></p>


<h4>¥<%= @item.price %>（税込）</h4>

<%= form_with model:@cart_item, local:true do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.select :amount, *[1..5] %>

 <%= f.submit "カートに入れる" %>
<% end %>